        <% include ../layout/header.ejs %>
        <!-- END TOPBAR -->
        <!-- START CONTAINER -->
        <div class="page-container row-fluid container-fluid">
            <!-- SIDEBAR - START -->
           
                 <% include ../layout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Dashboard</h1>
                                <% if(success_msg.info){ success_msg.info}%>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <section class="box nobox marginBottom0">
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="r4_counter db_box">
                                            <i class='pull-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
                                            <div class="stats">
                                                <h4><strong>45%</strong></h4>
                                                <span>New Orders</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="r4_counter db_box">
                                            <i class='pull-left fa fa-shopping-cart icon-md icon-rounded icon-accent'></i>
                                            <div class="stats">
                                            <% var sl = 0 %>
                                            <% for(var i = 0; i < data.length; i++){%>
                                                <% if(data[i].status == 0){ sl++ %>
                                                    <%}%>
                                             <%}%>
                                          <h4><strong><%=sl%> trong <%=data.length%></strong></h4>
                                                <span>Đơn hàng chưa thanh toán</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="r4_counter db_box">
                                            <i class='pull-left fa fa-dollar icon-md icon-rounded icon-purple'></i>
                                            <div class="stats">
                                                <h4><strong>$3424</strong></h4>
                                                <span>Profit Today</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="r4_counter db_box">
                                            <i class='pull-left fa fa-users icon-md icon-rounded icon-warning'></i>
                                            <div class="stats">
                                                <h4><strong>1433</strong></h4>
                                                <span>New Users</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .row -->    
                            </div>
                        </section>
                    </div>
                   
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
<% include ../layout/footer.ejs %>